body {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20pt;
}

@media screen and (max-width: 767px) {
  body {
    /* margin: auto; */
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    /* max-width: 700px; */
    /* margin: 0 auto; */
  }

  #color-input {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0px;
    font-size: 20px;
  }

  #square {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#color-code {
  width: 45%;
  margin: 2%;
  border: none;
  border-bottom: 3px;
  border-style: solid;
  color: #3a3c3f;
  text-align: center;
}

button:focus {
  outline: 0 !important;
}

button {
  width: 45%;
  margin: 2%;
  background-color: white;
  border-color: #3a3c3f;
  border-style: solid;
  border-width: 3px;
}

button:hover {
  background-color: #3a3c3f;
  color: white;
  transition: 500ms;
}

#square {
  height: 400px;
  width: 400px;
  background-color: coral;
}
